Source: kconfig-dump
Section: x11
Priority: optional
Maintainer: Enrique Medina Gremaldos <quiqueiii@gmail.com>
Uploaders: Enrique Medina Gremaldos <quiqueiii@gmail.com>
Build-Depends: debhelper (>=10), cmake, extra-cmake-modules, libkf5config-dev
Standards-Version: 4.1.2

 
Package: kconfig-dump
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple kconfig dump tool
 A cli tool to dump full kde settings (merging both defaults and user settings)
 
